node_modules/
dist/
.next/
.turbo/
coverage/
*.tsbuildinfo

# python
.venv/
__pycache__/
*.pyc

# env
.env
.env.local
.env.*.local

# infra volumes / dumps
infra/docker/volumes/
*.dump

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
